<!-- {% extends "base.html" %}
{% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Fakeflix</title>
</head>

<body>
    <div id="main-container">

        <!-- navbar -->
        <nav class="main-nav">
            <a class="logo-text" href="/">Netflix</a>

            <ul id="nav-list">
                <li><a href="/">Home</a></li>
            </ul>
        </nav>


        <div class="top-container">
            <h1 class="logo-text">Fakeflix</h1>
        </div>
        <div class="bottom-container">
            <h1>bottom container</h1>
        </div>

    </div>

</body>

</html>