<!-- {% extends "base.html" %}
{% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Fakeflix</title>
</head>

<body>
    <div id="main-container">

        <!-- navbar -->
        <nav class="main-nav">
            <!-- style to have distance from nav-list -->
            <a class="logo-text" href="/">Netflix</a>

            <ul id="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>


        <div class="top-container">
            <h1 class="logo-text">Fakeflix</h1>
        </div>
        <div class="bottom-container">

            <div class="film-row-container">
                <!-- Film row to test -->
                <h4 class="film-row-header">Comedy</h4>
                <div class="film-row">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">

                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">

                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">

                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">

                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                </div>
            </div>

            <div class="film-row-container">
                <!-- Film row to test -->
                <h4 class="film-row-header">Crime</h4>
                <div class="film-row">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">

                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">

                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">

                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">

                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                </div>
            </div>

            <div class="film-row-container">
                <!-- Film row to test -->
                <h4 class="film-row-header">Crime</h4>
                <div class="film-row">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">

                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">

                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">

                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">

                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                    <img src="https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/66a4263d01a185d5ea22eec6_6408f35499e9a3dfbab1a22f_phantom%2520of%2520the%2520opera-min.png"
                        alt="">
                </div>
            </div>
        </div>

    </div>

</body>

</html>