body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    line-height: 1.6;
    margin: 0; /* Reset default body margin */
}

button {
    border-radius: 20px; /* Rounded corners */
    font-size: larger;
    background-color: #14adff; /* Deep pink */
    color: white;
    margin: 5px; /* Add some margin around the buttons */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition-duration: 0.4s;
    margin-bottom: 1.5vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input {
    width: 25vw;
    height: 5vh;
    font-size: larger;
    margin-bottom: 5vh;
}

input#hidden-input {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }

input#hidden-input.show {
    opacity: 100;
}

nav.main-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0; /* Add this line */
    right: 0; /* Add this line */
    z-index: 1030;
    width: 100%; /* Change from 100vw to 100% */
    background-color: transparent;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 5vh;
    font-size: large;
    font-weight: bolder;
}

#nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
}

#nav-list li a {
    text-decoration: none;
    color: #000000; /* White text for better contrast */
}

.logo-text {
    text-decoration: none;
    color: rgb(229, 9, 20); /* White text for better contrast */
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.logo-text:hover {
    transform: scale(2);
}

div#main-container {
    background: repeat-y;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 60vh;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100vw;
    background-color: rgba(51, 51, 51, 0.9);
}

div.film-row-container .film-row-header {
    padding-left: 1vw;
    font-size: x-large;
    color: #FFFFFF;
}

.search-header {
    color: #FFFFFF;
}

div.film-row-container{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
}

div.film-row-container div.film-row{
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow: hidden;
    overflow-x: scroll;
    gap: 30px;
    padding-bottom: 30px;
}

div.film-row img {
    width: 25vw;
    height: auto;
}

h1.logo-text {
    color: rgb(229, 9, 20);
    filter: drop-shadow(30px 10px 4px rgb(219, 69, 77));
}

/* background image */
#bg-img{
    filter: blur(3px);
    position: absolute;
    padding-top: 5vh;
    width: 100vw;
    height: 90vh;
    z-index: -1; /* Ensure the image is behind the div */
    background-repeat: repeat;
}

@media screen and (max-width: 500px) {
    #bg-img{
        width: 100vw;
    }
}

div.film-row img,
div.movie-container img {
    transition-duration: 20ms;
    transition-timing-function: ease-in-out;
    transform-origin: top;


}

div.film-row img:hover,
div.movie-container img:hover {
    transform: scale(1.08);
}

div#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

#search-container {
    position: fixed;
    top: 0;
    left: 0; /* Add this line */
    right: 0; /* Add this line */
    z-index: 1030;
}

div.movie-search {
    background-color: #464646;
    display: flex;
    flex-direction: column;
}

div.movie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 70px;
}

div.movie-contianer img {
    width: 300px;
    height: auto;
}

div.input-container {
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    align-items: center;
}

div.input-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #464646;
    padding: 30px;
    gap: 10px;
    width: auto;
    transition-duration: 0.5s;
    transform-origin: top;
    transition-timing-function: ease-in-out;

}

div.input-container form:hover {
    transform: scale(1.08);
}

div.input-container form input {
    width: 20vw;
}

div.button-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

div.button-container button {
    padding: 15px;
}

.logout-button {
    background-color: red;
}