{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Fakeflix</title>
</head>

<body>
    <img id="bg-img"
        src="https://m.media-amazon.com/images/M/MV5BZDA4ZjVmM2MtYWJlNC00OTE5LThlOWQtYjQ4Yjg1ODg5MTE4XkEyXkFqcGc@._V1_FMjpg_UY2100_.jpg"
        alt="">

    <div id="main-container">
        <!-- we use block nav in base to be used in all tempaltes -->
        <!-- navbar -->
        {% block nav %}
        <nav class="main-nav">
            <!-- style to have distance from nav-list -->
            <a class="logo-text" href="/">Fakeflix</a>

            <ul id="nav-list">
                <li><a href="/">Home</a></li>
                <!-- <li><a href="{% url 'search' %}">Search</a></li> -->
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'sign-up' %}">Sign up</a></li>
            </ul>
        </nav>
        {% endblock nav %}

        {% block search_container %}
        <div id="search-container">
            <form action="{% url 'search' %}" method="get">
                {% csrf_token %}
                {{ form.searchForm }}
                <input disabled id="hidden-input" class="" placeholder="Movies, Genere.." name="search-input">
                <button id="search-button" type="submit"><i class="ri-search-2-line"></i></button>
            </form>
        </div>
        {% endblock search_container %}

        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'scripts.js' %}"></script>
</body>

</html>