{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Fakeflix</title>
</head>

<body>
    {% block background_image %}
    <img id="bg-img" src=" https://lumiere-a.akamaihd.net/v1/images/p_disney_lilo_stitch_poster_teaser_v1_a3d5e52f.jpeg"
        alt="">

    {% endblock background_image %}

    <div id="main-container">
        <!-- we use block nav in base to be used in all tempaltes -->
        <!-- navbar -->
        {% block nav %}
        <nav class="main-nav">
            <!-- style to have distance from nav-list -->
            <a class="logo-text" href="/">Fakeflix</a>

            <ul id="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'search' %}">Search</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
        {% endblock nav %}

        {% block content %}
        {% endblock content %}


    </div>

</body>

</html>