{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Fakeflix</title>
</head>

<body>
    <img id="bg-img" src="https://i.imgur.com/HXl4kxU.jpeg" alt="">

    <div id="main-container">
        <!-- we use block nav in base to be used in all tempaltes -->
        <!-- navbar -->
        {% block nav %}
        <nav class="main-nav">
            <!-- style to have distance from nav-list -->
            <a class="logo-text" href="/">Fakeflix</a>

            <ul id="nav-list">
                {% if user.is_authenticated %}
                <li><a href="{% url 'account-manage' %}">Account</a></li>
                <li>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="logout-button" type="submit">Logout</button>
                    </form>
                </li>

                {% else %}
                <!-- <li><a href="{% url 'search' %}">Search</a></li> -->
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'sign-up' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endblock nav %}




        {% block search_container %}
        {% if user.is_authenticated %}
        <div id="search-container">
            <form action="{% url 'search' %}" method="get">
                {% csrf_token %}
                {{ form.searchForm }}
                <input disabled id="hidden-input" class="" placeholder="Movies, Genere.." name="search-input">
                <button id="search-button" type="submit"><i class="ri-search-2-line"></i></button>
            </form>
        </div>
        {% endif %}
        {% endblock search_container %}

        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'scripts.js' %}"></script>
</body>

</html>