{% extends "base.html" %}
{% block content %}
<div class="top-container">
    <h1 class="logo-text">Fakeflix</h1>
</div>
<div class="bottom-container">

    <div class="film-row-container">
        <h4 class="film-row-header">Action Movies</h4>

        <div class="film-row">
            {% for movie in action_movie_data %}
            <img src="{{ movie.Poster }}" alt="{{ movie.Title }}">
            {% endfor %}
        </div>

    </div>

    <div class="film-row-container">
        <h4 class="film-row-header">Scary Movies</h4>

        <div class="film-row">
            {% for movie in scary_movie_data %}
            <img src="{{ movie.Poster }}" alt="{{ movie.Title }}">
            {% endfor %}
        </div>


    </div>

    <div class="film-row-container">
        <h4 class="film-row-header">Comedy Movies</h4>

        <div class="film-row">
            {% for movie in comedy_movie_data %}
            <img src="{{ movie.Poster }}" alt="{{ movie.Title }}">
            {% endfor %}
        </div>

    </div>

    <div class="film-row-container">
        <h4 class="film-row-header">Mystery Movies</h4>

        <div class="film-row">
            {% for movie in mystery_movie_data %}
            <img src="{{ movie.Poster }}" alt="{{ movie.Title }}">
            {% endfor %}
        </div>

    </div>

</div>
{% endblock content %}