{% extends "base.html" %}
{% block content %}
<div class="login-container">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.UserForm }}
        <input type="text" placeholder="username" name="username" id="username">
        <input type="password" placeholder="password" name="password" id="password">
        <div class="button-container">
            <button type="submit">login</button>
            <button type="submit">sign up</button>
        </div>
    </form>
</div>
{% endblock content %}