{% extends "base.html" %}

{% block content %}
<div class="input-container">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.UserForm }}
        <input type="text" placeholder="username" name="username" id="username">
        <input type="text" placeholder="password" name="password" id="password">
        <div class="button-container">
            <button type="submit">login</button>
        </div>
    </form>

    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="logout-button" type="submit">Logout</button>
    </form>
    {% endif %}

</div>
{% endblock content %}