{% extends "base.html" %}

{% block content %}
<div class="input-container">
    {% if user.is_authenticated %}
    {% if profiles %}
    <h1>Select a Profile</h1>
    <ul style="list-style-type:none;">
        {% for profile in profiles %}
        <div class="profile-container">
            <form action="delete-profile" method="POST">
                {% csrf_token %}
                <button type="submit" name="del_profile" value="{{ profile.id }}"><i
                        class="ri-close-circle-fill"></i></button>
            </form>
            <form action="{% url 'load-profile' %}" method="POST">
                {% csrf_token %}
                <button name="profile_id" value="{{ profile.profile }}" class="raw-button">
                    <li> <i class="ri-account-circle-line"></i> Profile-{{ forloop.counter }}: {{ profile.profile }}
                        <!-- or whatever field -->
                    </li>
                </button>
            </form>
        </div>
        {% endfor %}
    </ul>
    {% if profiles|length < max_profiles %} <h2>Add a New Profile</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Profile</button>
        </form>
        {% else %}
        <p>You have reached the maximum number of profiles ({{ max_profiles }}).</p>
        {% endif %}
        {% else %}
        <h1>No Profiles Created..</h1>
        <h2>Create Your First Profile</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Profile</button>
        </form>
        {% endif %}
        {% else %}
        <p>Please log in to manage profiles.</p>
        {% endif %}
</div>
{% endblock content %}